# hidden Mac file of cached metadata when Finder is used to browse folders
.DS_Store
__pycache__

#VS Code workspace file
.VSCode

#Python dotenv file
.env

#Virtual Environment
venv/
env/

# Flask
instance/*
!instance/.gitignore
.webassets-cache

# Flask.Python Stack
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
